<h2>Somos el grupo de Desarrollo  Web en Entorno Servidor formado por :</h2>
<div class="imagenes">
    <div class="caja1">
        <img src={{imagen1}}>
        <h2>{{integrante1}}</h2>
    </div>
    <div class="caja2">
        <img src={{imagen2}}>
        <h2>{{integrante2}}</h2>
    </div>
    <div class="caja3">
        <img src={{imagen3}}>
        <h2>{{integrante3}}</h2>
    </div>
    <div class="caja4">
        <img src={{imagen4}}>
        <h2>{{integrante4}}</h2> 
    </div>
    

</div>


