.header {
  display: flex;
  justify-content: space-between;
  margin-inline: 10px;
}

.nav_list {
  display: flex;
  gap: 20px;
}
li{
  padding: 5px;
  display: inline;
  list-style: none;
}
a{
  text-decoration: none;
}