<table [border]="estiloCaja">
    <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>VALORACIÓN METACRITIC</th>
        <th>MOSTRAR DETALLES</th>
        
    </tr>
    <tr *ngFor="let juego of listaVideoJuegos">
        <td>{{juego.id}}</td>
        <td>{{juego.titulo}}</td>        
        <td>{{juego.valoracion}}</td>
        <td><a [routerLink]="['/detalles']" [queryParams]="{ id:juego.id, titulo:juego.titulo, compania:juego.compania, imagen:juego.imagen, valoracion: juego.valoracion}"> DETALLES</a></td>
    </tr>
   
</table>


