.pie{
    clear: both;
    background-color: #000000;
    margin-top: 40%;
    height:180px;
   
}

h3{
    
    height:50%;
    color: aliceblue;
    text-align: center;
    padding-top: 40px;
    
}