/* Estilos generales */

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: #792fa7;
}

a:hover {
	color: #4b1a69;
}

main{
	display: flex;
    flex-direction: column;
	width: 90%;
	min-height: 43rem;
    margin: 0 auto 5rem;
}

