<!--
<nav >
    
    <a (click)="fds"><img src={{imagen}} ></a>
    <ul >
        
        <li><a routerLink="sobreNosotros">{{ele1}}</a></li>
        <li><a routerLink="contacto">{{ele2}}</a></li>
        <li><a routerLink="videojuegos">{{ele3}}</a></li>
    </ul>
</nav>

<hr>


-->
<header>
    <div class="cabecera">
        <div class="logo">
            <a href="#">
                <img src={{imagen}}>
            </a>
        </div> 
        <nav>
            <ul>
                <li><a routerLink="sobreNosotros">{{ele1}}</a></li>
                <li><a routerLink="contacto">{{ele2}}</a></li>
                <li><a routerLink="videojuegos">{{ele3}}</a></li>
                
            </ul>
        </nav>
        
    </div>
</header>