<!-- Cabecera de la página-->

<header class="header">
    
    <a href="">
        <h1 class="header-logo">GameShop</h1>
    </a>

    <!-- Menú de la página -->
    <nav class="nav">

        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="about-us" class="nav-link">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
                <a routerLink="lista-videojuegos" class="nav-link">Lista de Juegos</a>
            </li>
            <li class="nav-item">
                <a routerLink="contact" class="nav-link">Contacto</a>
            </li>
        </ul>
    </nav>

</header>
