<main>
    <h1 class="page-title">Sobre nosotros</h1>

    <section>
        <article class="nosotros">
            <img src={{imagen1}} class="nosotros-img">
            <h2>{{integrante1}}</h2>
        </article>
        <article class="nosotros">
            <img src={{imagen2}} class="nosotros-img">
            <h2>{{integrante2}}</h2>
        </article>
        <article class="nosotros">
            <img src={{imagen3}} class="nosotros-img">
            <h2>{{integrante3}}</h2>
        </article>
        <article class="nosotros">
            <img src={{imagen4}} class="nosotros-img">
            <h2>{{integrante4}}</h2>
        </article>
    </section>
</main>
