/* Estilos para presentar el formulario de una forma más atractiva */

label{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 500;
}

.mensaje-error{
    color: #bb0e0e;
    font-size: 0.875rem;
}

.form-title {
	font-size: 2em;
	text-align: center;
    color: #bb0e0e;
    text-transform: uppercase;
}

.contenedor-form {
	display: flex;
	width: 80%;
	padding: 1.875rem;
	margin: 1.875rem auto;
	border-radius: 0.3125rem;
    border: 2px solid #bb0e0e;
}

form,
.form-img {
	width: 47%;
	margin: 0 2rem;
}

.contenedor-form label {
	font-size: 1.2em;
	margin-bottom: .5em;
}

.contenedor-form input{
	padding: .8em;
	margin-bottom: 1em;
	border-radius: .3em;
	border: 1px solid #252525;
	box-sizing: border-box;
}

.datos-contacto input{
    width: 100%;
}

.datos-contacto label{
    display: block;
}

.botones {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	text-align: center;
}

.boton-enviar {
	width: 45% !important;
	background-color: #bb0e0e;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	cursor: pointer;
	margin-top: 2rem;
}

.boton-enviar:hover {
	background-color: #770a0a;
}

.boton-actualizar {
	width: 45% !important;
	background-color: transparent;
	color: #bb0e0e;
	border: 1px solid #bb0e0e;
	font-weight: bold;
	font-size: 1.1em;
	cursor: pointer;
	margin-top: 2rem;
}

.boton-actualizar:hover {
	background-color: #bb0e0e;
	color: white;
}