h1{
    text-align: center;
    color: rgb(193, 28, 222);
    text-transform: uppercase;
}

label{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 500;
}

.mensaje-error{
    color: rgb(212, 3, 3);
    font-size: 0.875rem;
}