
/*       Sobre nosotros       */

.nosotros {
	float: left;
	text-align: center;
	width: 25%;
	margin: 3rem 0;
}

.nosotros-img {
	width: 15rem;
	margin: 0;
	height: auto;
	border-radius: 50%;
	filter: grayscale(100%);
}

.nosotros-img:hover {
	transition: all .5s ease-in-out;
	filter: none;
}
